/* h1 {
  color: red;
}

#myHeader {
  color: green;
}

.bigHeader {
  color: blue;
} */

/* 
id            1 0 0
class         0 1 0
element name  0 0 1
*/

/* .hclass1 {
  color: red;
} */

/* .hclass2 {
  color: red;
} */

/* .hclass1, .hclass2 {
  color: red;
} */

/* .hclass1.hclass2 {
  color: red;
} */

/* h1.hclass1.hclass2 {
  color: red;
} */

h1.hclass1.hclass2#hid3 {
  color: red;
}
